/* COMMON */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #111; 
  color: #ccc;
  font-family: verdana;
  font-size: 16px;
}

.hidden {
  display: none;
}

/* STAGE */

#stage, #pre_stage {
  border: 0;
  height: 1080px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1920px;
}
#pre_stage {
  background: url(../images/stage-bg-rinkbook.png) no-repeat top left;
}

#loading {
  bottom: 20px;
  font-size: 21px;
  position: absolute;
  right: 50%;
  left: 50%;
  text-align: center;
  width: 200px;
}
#loading img {
  margin: 2px;
}